.agent {
	height: 340px;
	background: url('../img/backgrounds/backgroung_agent.png') center center / cover no-repeat;
	padding-top: 60px;
	&__logo {
		display: flex;
		justify-content: center;

	}
	&__title {
		font-family: "Roboto-Bold"; 
		font-size: 26px;
		line-height: 23px;
		color: #ffffff;
		text-align: center;
		margin-top: 20px;
	}
	&__descr {
		font-size: 19px;
		line-height: 27px;
		font-weight: 300;
		color: #ffffff;
		text-align: center;
		margin-top: 20px;
	}
}